html, body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: "Arial";
}

h1 {
    text-align: center;
    font-size: 36px;
    font-family: "Arial";
}

.grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-auto-rows: 200px;
    grid-gap: 20px;
    justify-content: center;
}

#navbar {
    padding: 18px 0;
    font-size: 12px;
    background-color: blue;
}

#navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

a {
    font-size: 22px;
    color: #f473c5;  //HEX
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
}
